/* education */

.Education {
    background-color: #ad2d49;
    padding: 25px 0px;
    max-width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin-top: 40px;
}

.titre1 h2 {
    color: black !important;
}

.Education .row {
    margin: 10px 0px;
    justify-content: space-between;

}

.Education h2 {
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0px;
    color: #fff;
    font-family: 'tajawal';

}

.Education h5 {
    text-transform: capitalize;
    color: #fff;
    font-family: 'tajawal';
    font-weight: 10px;
    letter-spacing: 1px;
}

.blogs {
    margin-top: 25px;
    padding: 25px 0px;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.blogs .row {
    text-align: center;
    margin: 25px 0px;
}

.blogs h2 {
    font-size: 45px;
    font-weight: bold;
    width: 100%;
    margin: 10px 0px;
    color: #771326;
    font-family: 'tajawal';
    line-height: 50px;

}

.blogs p {
    font-size: 16px;
    line-height: 28px;
    color: #333;
    font-family: 'tajawal';
    margin-top: 15px;
}

.blogs .box {
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border: 1px solid #f6f6f6;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 5px;
}

.blogs .box img {
    max-width: 100%;
}

.blogs .box h5 {
    color: #771326;
    font-family: 'tajawal';
    font-size: 22px;
    margin: 15px 0px;

}

.blogs .box span {
    display: block;
    color: #444;
    font-family: 'tajawal';
    font-size: 16px;
    margin: 10px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;


}

.blogs .box h6 {
    color: #742c24;
    font-size: 22px;
    font-family: 'tajawal';

}

.blogs button {
    width: 140px;
    height: 40px;
    text-align: center;
    background-color: #742c24;
    border: 1px solid #742c24;
    box-sizing: border-box;
    margin: 10px 0px;
    transition: .3s ease-in-out;
}

.blogs button a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'tajawal';
    font-size: 15px;
    font-weight: bold;
    text-decoration: none !important;
    letter-spacing: 1px;
}

.blogs button:hover {
    background-color: transparent;
}

.blogs button:hover a {
    color: #742c24;
}