.section1 {
    width: 100%;
    height: 100vh;
    background-color: dimgrey;
    position: relative;
    justify-content: center;
    display: flex;
}

/* hero background image */
.bgimage {
    /*url('../../images/img.jpg'); */
    background-size: cover;
    /* position: relative; */
}

/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}

.hero_desc {
    font-size: 2.5rem;
    margin: 50px 50px;
}

.hero-text {
    text-align: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 50px 40px;
    box-sizing: border-box;
}


.contact1 {
    /* position: absolute; */
    margin-top: 40%;
    /* margin-left: ; */
    width: 100%;
    box-sizing: border-box;
    font-weight: 600;

}

.contact1 a {
    padding: 1rem 3rem;
    justify-content: space-between;
    color: #ab3550;
    justify-content: center;
    text-align: center;
    margin-left: 20px;



}

.contact1 a:hover {
    background-color: #ab3550;
    color: #fff !important;

}