.nav1 {
    width: 100%;
    z-index: 7;
    background: hsla(0, 0%, 100%, .98);
    transition: box-shadow .25s ease 0s;
    position: fixed;
    /*spec type position(static/fixed/relative/absolute/sticky)*/
    top: 0;
    left: 0;
}

nav {
    background-color: #fff;
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 0px;

}

nav a {
    color: #ab3550 !important;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    background-color: #ab3550;
    color: #fff !important;
}

nav #lastnav {
    background-color: #ab3550;
    border: 1px solid #ab3550;
    box-sizing: border-box;
    color: #fff !important;
}

nav #lastnav:hover {
    background-color: transparent;
    color: #ab3550 !important;
    transition: .2s ease-in-out;
}

nav img {
    max-width: 100%;
    height: 90%;
}